.MainLayout {
  text-align: center;
}

.MainLayout__logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  text-align: left;
}

.MainLayout__header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: center;
}
.MainLayout__intro {
  font-size: large;
}
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
